<h1>アカウント情報編集</h1>

<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, placeholder: '変更する場合のみ入力' %>
  </div>

  <div>
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <%= f.submit '更新' %>
<% end %>