<div class="FirstView">
  <section class="container">
    <h2 class="FirstView__title">
      Potepan Shareで<br>
      まだ体験したことのない<br>
      旅をしよう
    </h2>

    <div class="FirstViewSearch">
      <%= form_with url: rooms_path, method: :get, local: true do %>
        <%= text_field_tag :area, nil, placeholder: "エリア名を入力", class: "form-control FirstViewSearch__input" %>
        <%= submit_tag "検索", class: "btn FirstViewSearch__button", data: { disable_with: "検索" } %>
      <% end %>
    </div>
  </section>
</div>

<div class="container">
  <section class="RecommendAreaSection">
    <h2 class="RecommendAreaSection__title">
      おすすめのエリア
    </h2>

    <div class="RecommendAreas">
      <%= link_to rooms_path(area: "東京"), class: "RecommendArea RecommendArea--tokyo" do %>
        <span class="RecommendArea__name RecommendArea__name--ja">東京</span>
        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>
          Tokyo
        </span>
      <% end %>

      <%= link_to rooms_path(area: "大阪"), class: "RecommendArea RecommendArea--osaka" do %>
        <span class="RecommendArea__name RecommendArea__name--ja">大阪</span>
        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>
          Osaka
        </span>
      <% end %>

      <%= link_to rooms_path(area: "京都"), class: "RecommendArea RecommendArea--kyoto" do %>
        <span class="RecommendArea__name RecommendArea__name--ja">京都</span>
        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>
          Kyoto
        </span>
      <% end %>

      <%= link_to rooms_path(area: "札幌"), class: "RecommendArea RecommendArea--sapporo" do %>
        <span class="RecommendArea__name RecommendArea__name--ja">札幌</span>
        <span class="RecommendArea__name RecommendArea__name--en">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path>
          </svg>
          Sapporo
        </span>
      <% end %>
    </div>
  </section>
</div>