<h1>施設検索</h1>

<%= form_with url: search_rooms_path, method: :get, local: true do %>
  <div>
    <label>エリア検索 (東京、大阪、京都、札幌):</label>
    <%= text_field_tag :area, params[:area] %>
  </div>

  <div>
    <label>フリーワード検索 (施設名・施設詳細):</label>
    <%= text_field_tag :query, params[:query] %>
  </div>

  <%= submit_tag "検索" %>
<% end %>

<h2>検索結果</h2>
<p>合計件数: <%= @rooms.count %></p>

<div class="rooms">
  <% @rooms.each do |room| %>
    <div class="room">
      <h2><%= link_to room.name, room_path(room) %></h2>
      <p>住所: <%= room.address %></p>
      <p>紹介文: <%= room.description %></p>
      <p>宿泊料金: <%= number_to_currency(room.price, unit: "¥", precision: 0) %> /日</p>
    </div>
  <% end %>
</div>