<!DOCTYPE html>
<html>
<head>
  <title>宿泊予約アプリ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar Navbar">
      <div class="container-fluid">
        <a href="/"><img class="Navbar__logo" alt="サイトロゴ" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" /></a>

        <ul class="navbar-nav flex-row align-items-center">
          <% if user_signed_in? %>
            <li class="nav-item NavItem">
              <div class="header-user-info">
              <%= image_tag "icon_image.png", alt: "アイコン画像", class: "user-image" %>               
              <%= current_user.name %>
                <div class="dropdown-menu" aria-labelledby="dropdown-button" date-bs-popper="none">
                  <%= link_to '施設登録', new_room_path %>
                  <hr class="DropdownMenu__hr">
                  <%= link_to 'プロフィール', user_path(current_user) %>
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' }, rel: 'nofollow' %>
                </div>
              </div>
            </li>
          <% else %>
            <li class="nav-item NavItem">
              <a class="fw-bold NavItem__link NavItem__link--login" href="/users/sign_in">ログイン</a>
              <a class="btn fw-bold NavItem__link NavItem__link--register" href="/users/sign_up">新規登録</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
</body>
</html>